/* general css */

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

strong, b, strong *, b * {
	font-weight: bold;
}
	/*This needs to be added since the reset messes up my html bold/italic*/

em, i, em *, i * {
	font-style: italic;
}

body {
	background: black;
	font-family: 'Indie Flower', cursive;
	padding-top: 60px;
}

.black-bkgd {
	background: black;
	color: white;
	margin-bottom: 30px;
}

.white-bkgd {
	background: white;
	color: black;
	margin-bottom: 30px;
}

.rowmargin {
	margin-top: 50px;
}

h2 {
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: 'Cinzel', serif;
}

p {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.img-circle {
    border-radius: 50%;
}

.button-black {
	width: 250px;  
	height: 50px;  
	color: #d1d2d3;
	text-align: center;   
	line-height: 50px;
	background: black;
	border: solid 2px #d1d2d3;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
 
 
.button-black p {
	 font-size: 25px;
	 line-height: 50px;
}
 
.button-black a {
	 text-decoration: none;
	 color: white;
}
 
.button-black:hover {
	 border: solid 2px white;
	 color: white;
	 cursor: pointer;
}

.button-white{
	width: 250px;  
	height: 50px;  
	color: #908d8d;
	text-align: center;   
	line-height: 50px;
	background: white;
	border: solid 2px #908d8d;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.button-white p {
	 font-size: 25px;
	 line-height: 50px;
}
 
.button-white a {
	 text-decoration: none;
	 color: black;
}
 
 .button-white:hover {
	border: solid 2px black;
	color: black;
	cursor: pointer;
}

/* Navigation Bar */

#initials {
	height: 40px;
	width: 75px;
}

nav {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: white;
    opacity: .95;
    overflow: hidden;
    height: 60px;
   }

ul {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Cinzel', serif;
}

nav li {
	width: 19%;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	font-size: 20px;
	color: black;
	text-decoration: none;  
}

nav li:hover {
	border-bottom: solid 3px white;
}

nav a:hover {
	color: white;	
}

/* Jumbotron */

.Jumbotron {
	background: url("../images/robertpic.jpg");
	height: 1000px;
	width: 100%;
}

.Jumbotron h1 {
	font-size: 60px;
	color: black;
	position: relative;
	top: 300px;
	font-weight: 900;
}

.Jumbotron p {
	font-size: 30px;
	color: black;
	position: relative;
	top: 350px;
	font-weight: 800;
}

.Jumbotron .btn {
	font-size: 30px;
	position: relative;
	top:100px;
}


/* About Me */

/* resizing robertpowerpuff image */

img {
	max-height: 610px;
	margin-bottom: 30px;
}

/* Skills */

.centered-object {
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-bottom: 30px;
}

/* Portfolio */

.work {
	width: 45%;
	overflow-x: hidden;
	position: relative;
	margin: 20px 0 25px;
	height: 250px;
}

.work:nth-child(even) {
	margin-right: 40px;
}

.work img {
	width: 100%;
	border: none;
	margin: 20px;
	height: 200px;
    border-radius: 6%;
}

.work h3 {
	border-bottom: 0;
	background-color: rgba(74, 170, 165, 0.7);
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 40px;
	line-height: 30px;
	margin: 20px;
	margin-bottom: 0;
	font-weight: 300;
}

.work:hover {
	 transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

/* Contact Me */

.social {
	width: 62px;
	height: 62px;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}