/* general css */

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

strong, b, strong *, b * {
	font-weight: bold;
}
	/*This needs to be added since the reset messes up my html bold/italic*/

em, i, em *, i * {
	font-style: italic;
}

body {
	background: black;
	color: white;
	font-family: 'Calligraffitti', cursive;
	padding-top: 45px;
}

h2 {
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}

p {
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.img-circle {
    border-radius: 50%;
}

.button {
 
	/*basic styles*/
	width: 250px;  
	height: 50px;  
	color: #d1d2d3;
	text-align: center;   
	line-height: 50px;
	background: black;

	/*border styles*/
	border-top: solid 2px #d1d2d3;
	border-bottom: solid 2px #d1d2d3;
	border-right: solid 2px #d1d2d3;
	border-left: solid 2px #d1d2d3;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
 
}
 
 
.button p {
	 font-size: 25px;
	 line-height: 50px;
}
 
.button a {
	 text-decoration: none;
	 color: white;
}
 
.button:hover {
	 border-top: solid 2px white;
	 border-bottom: solid 2px white;
	 border-right: solid 2px white;
	 border-left: solid 2px white;
	 color: white;
	 cursor: pointer;
}

/* Navigation Bar */

nav {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: white;
    opacity: .95;
   }

ul {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

nav li {
	width: 19%;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	font-size: 25px;
	color: black;
	text-decoration: none;  
}

nav li:hover {
	border-bottom: solid 3px white;
}

nav a:hover {
	color: white;	
}

/* Jumbotron */

.Jumbotron {
	background: url("../images/robertpic.jpg");
	height: 1000px;
	width: 100%;
}

.Jumbotron h1 {
	font-size: 60px;
	color: black;
	position: relative;
	top: 300px;
	font-weight: 900;
}

.Jumbotron p {
	font-size: 30px;
	color: black;
	position: relative;
	top: 350px;
	font-weight: 800;
}

.Jumbotron .btn {
	font-size: 30px;
}


/* About Me */

/* resizing robertpowerpuff image */



img {
	max-height: 610px;
	margin-bottom: 30px;
}

